<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="student">
  <insert id="insertStudent" parameterType="com.sh.app.student.entity.Student">
  	insert into 
  		student (id, name, tel)
  	values (
  		seq_student_id.nextval, 
  		#{name}, 
  		#{tel}
  	)
  	<selectKey order="AFTER" keyProperty="id" resultType="_int">
  		select seq_student_id.currval from dual
  	</selectKey>
  </insert>
  
  <insert id="insertStudentMap" parameterType="hashmap">
  	insert into 
  		student (id, name, tel)
  	values (
  		seq_student_id.nextval, 
  		#{name}, 
  		#{tel}
  	)
  </insert>
  
  <select id="getTotalCount" resultType="_int">
  	select
  		count(*)
  	from 
  		student
  </select>
  
  <select id="selectOneStudent" resultType="student">
  	select 
  		*
  	from 
  		student
  	where
  		id = #{id}
  </select>
  
  <update id="updateStudent">
  	update 
  		student
  	set 
  		name = #{name},
  		tel = #{tel}
  	where
  		id = #{id}
  </update>

  <delete id="deleteStudent">
  	delete from
  		student
  	where
  		id = #{id}
  </delete>
  
  <select id="selectOneStudentMap" resultMap="studentMap">
  	select 
  		*
  	from 
  		student
  	where
  		id = #{id}
  </select>
  
  <!-- 재사용 가능 -->
  <resultMap type="map" id="studentMap">
  	<id column="id" property="id"/><!-- pk -->
  	<result column="name" property="name"/><!-- 나머지 컬럼 -->
  	<result column="tel" property="tel"/>
  	<result column="created_at" property="createdAt"/>
  </resultMap>
  
  <!-- *여러행을 리턴하는 경우에도 resultType은 한행에 일치하는 타입을 작성한다. -->
  <select id="selectStudentList" resultType="student">
  	select
  		*
  	from 
  		student
  	order by 
  		id desc
  </select>
  
  <select id="selectStudentMapList" resultMap="studentMap">
  	select
  		*
  	from 
  		student
  	order by 
  		id desc
  </select>
  
  <select id="selectStudentMapKey" resultMap="studentMap">
  	select
  		*
  	from 
  		student
  	order by 
  		id 
  </select>
  
</mapper>







